body {
    margin: 0;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 1fr 10fr;
}

.bookForm {
    grid-row: 2 / -1;
    grid-column: 2 / -1;

    padding: 1rem;

    background-color: aliceblue;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;

    background-color: #ccc;

    padding: 0 32px;
}

.libraryArea {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 25px;
    padding: 25px;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#add-button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#add-button:hover {
    background-color: #45a049;
}

#my-form {
    display: grid;
    gap: 2rem;
}

#my-form>div {
    display: grid;
}

.bool-read {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color: ghostwhite;
    display: grid;
    justify-content: center;
    text-align: center;
    border: solid black 2px;
    border-radius: 6px;
}

.cover {
    height: 250px;
    aspect-ratio: 9/16;
}